// Font Family
$font-1: 'Montserrat', sans-serif;
$font-2: 'Open Sans', sans-serif;


// Colors ---------------

$white: #fff;
$black: #293651;
$gray: #F9F9F9;


// Theme Color
$theme-color: #00A78E;


//Body Color
$body-color: #646F87;


// Border Color
$border-color: #eceff8;


// Border Color
$shadow: #C4C4C4;


// Responsive Variables
$desktop: 'only screen and (min-width: 1400px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md: 'only screen and (min-width: 768px) and (max-width: 991px)';
$xs: '(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';


